.container {
  display: flex;
  flex-direction: row;

  // Set a border top for all .descriptions,
  // Then turn it off for each other container beyond the first
  .description {
    border-top: 1px solid lightgray;
  }

  & ~ .container .description {
    border-top: none;
  }
}

.image {
  position: relative;
  margin-right: 15px;
}

.promotion {
  position: absolute;
  top: 10px;
  background-color: white;
  padding: 8px;
  font-size: 12px;
  color: red;
}

.description {
  display: flex;
  flex-direction: row;

  border-bottom: 1px solid lightgray;
}
