.information {
  width: 655px;
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.name {
  margin-right: 4px;
  font-size: 24px;
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.address {
  font-size: 12px;
  color: grey;
}

.roomContainer {
  margin-top: 8px;
  height: 21px;
}

.room {
  font-size: 12px;
  color: red;
}

.cancellationContainer {
  margin-top: 16px;
  height: 21px;
}

.cancellation {
  color: green;
  font-size: 12px;
}
